<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home"><img src="./assets/images/consultorioFlopi.png" alt="" style="height: 50px; width: 50px;"></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
                <a class="nav-link" [routerLink]="['/consultorioPage']">Mi consultorio</a>
                <a class="nav-link" href="#">Facturación</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
